openapi: 3.0.1
info:
  title: Profile
  description: ""
  termsOfService: https://go.microsoft.com/fwlink/?LinkId=329770
  contact:
    name: nugetvss
    email: nugetvss@microsoft.com
  license:
    name: MICROSOFT SOFTWARE LICENSE TERMS
    url: https://go.microsoft.com/fwlink/?LinkId=329770
  version: "6.0"
externalDocs:
  description: Azure DevOps REST APIs
  url: https://aka.ms/azure-devops-rest-apis
servers:
- url: https://app.vssps.visualstudio.com/
security:
- accessToken: []
tags:
- name: Profiles
paths:
  /_apis/profile/profiles/{id}:
    get:
      tags:
      - Profiles
      description: Gets a user profile.
      operationId: Profiles_Get
      parameters:
      - name: id
        in: path
        description: The ID of the target user profile within the same organization,
          or 'me' to get the profile of the current authenticated user.
        required: true
        schema:
          type: string
      - name: details
        in: query
        description: Return public profile information such as display name, email
          address, country, etc. If false, the withAttributes parameter is ignored.
        schema:
          type: boolean
      - name: withAttributes
        in: query
        description: If true, gets the attributes (named key-value pairs of arbitrary
          data) associated with the profile. The partition parameter must also have
          a value.
        schema:
          type: boolean
      - name: partition
        in: query
        description: The partition (named group) of attributes to return.
        schema:
          type: string
      - name: coreAttributes
        in: query
        description: A comma-delimited list of core profile attributes to return.
          Valid values are Email, Avatar, DisplayName, and ContactWithOffers.
        schema:
          type: string
      - name: forceRefresh
        in: query
        description: Not used in this version of the API.
        schema:
          type: boolean
      - name: api-version
        in: query
        description: Version of the API to use.  This should be set to '6.0' to use
          this version of the api.
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      security:
      - oauth2:
        - vso.profile
      x-ms-docs-override-version: "6.0"
      x-ms-vss-resource: profiles
      x-ms-vss-method: GetProfile
      x-ms-examples:
        ?
        : $ref: ./httpExamples/Profiles/GET__profile_profiles_me.json
components:
  schemas:
    AttributeDescriptor:
      type: object
      properties:
        attributeName:
          type: string
          description: The name of the attribute.
        containerName:
          type: string
          description: The container the attribute resides in.
      description: Identifies an attribute with a name and a container.
    AttributesContainer:
      type: object
      properties:
        attributes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ProfileAttribute'
          description: The attributes stored by the container.
        containerName:
          type: string
          description: The name of the container.
        revision:
          type: integer
          description: The maximum revision number of any attribute within the container.
          format: int32
      description: Stores a set of named profile attributes.
    Avatar:
      type: object
      properties:
        isAutoGenerated:
          type: boolean
        size:
          type: string
          enum:
          - small
          - medium
          - large
          x-ms-enum:
            name: AvatarSize
            values:
            - value: small
              description: ""
            - value: medium
              description: ""
            - value: large
              description: ""
        timeStamp:
          type: string
          format: date-time
        value:
          type: array
          items:
            pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
            type: string
            format: byte
      description: ""
    CoreProfileAttribute:
      description: A profile attribute which always has a value for each profile.
      allOf:
      - $ref: '#/components/schemas/ProfileAttributeBase'
    CreateProfileContext:
      type: object
      properties:
        ciData:
          type: object
          additionalProperties:
            type: object
            properties: {}
        contactWithOffers:
          type: boolean
        countryName:
          type: string
        displayName:
          type: string
        emailAddress:
          type: string
        hasAccount:
          type: boolean
        language:
          type: string
        phoneNumber:
          type: string
        profileState:
          type: string
          description: The current state of the profile.
          enum:
          - custom
          - customReadOnly
          - readOnly
          x-ms-enum:
            name: ProfileState
            values:
            - value: custom
              description: The profile is in use.
            - value: customReadOnly
              description: The profile is in use, but can only be read.
            - value: readOnly
              description: The profile may only be read.
      description: ""
    GeoRegion:
      type: object
      properties:
        regionCode:
          type: string
      description: ""
    JObject:
      type: object
      properties:
        item:
          type: string
          format: JToken
        type:
          type: string
          description: Gets the node type for this JToken.
          format: JTokenType
      description: Represents a JSON object.
    Profile:
      type: object
      properties:
        applicationContainer:
          $ref: '#/components/schemas/AttributesContainer'
        coreAttributes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CoreProfileAttribute'
          description: The core attributes of this profile.
        coreRevision:
          type: integer
          description: The maximum revision number of any attribute.
          format: int32
        id:
          type: string
          description: The unique identifier of the profile.
          format: uuid
        profileState:
          type: string
          description: The current state of the profile.
          enum:
          - custom
          - customReadOnly
          - readOnly
          x-ms-enum:
            name: ProfileState
            values:
            - value: custom
              description: The profile is in use.
            - value: customReadOnly
              description: The profile is in use, but can only be read.
            - value: readOnly
              description: The profile may only be read.
        revision:
          type: integer
          description: The maximum revision number of any attribute.
          format: int32
        timeStamp:
          type: string
          description: The time at which this profile was last changed.
          format: date-time
      description: A user profile.
    ProfileAttribute:
      description: A named object associated with a profile.
      allOf:
      - $ref: '#/components/schemas/ProfileAttributeBase'
    ProfileAttributeBase:
      type: object
      properties:
        descriptor:
          $ref: '#/components/schemas/AttributeDescriptor'
        revision:
          type: integer
          description: The revision number of the attribute.
          format: int32
        timeStamp:
          type: string
          description: The time the attribute was last changed.
          format: date-time
        value:
          type: string
          description: The value of the attribute.
          format: T
      description: ""
    ProfileRegion:
      type: object
      properties:
        code:
          type: string
          description: The two-letter code defined in ISO 3166 for the country/region.
        name:
          type: string
          description: Localized country/region name
      description: Country/region information
    ProfileRegions:
      type: object
      properties:
        noticeContactConsentRequirementRegions:
          type: array
          description: List of country/region code with contact consent requirement
            type of notice
          items:
            type: string
        optOutContactConsentRequirementRegions:
          type: array
          description: List of country/region code with contact consent requirement
            type of opt-out
          items:
            type: string
        regions:
          type: array
          description: List of country/regions
          items:
            $ref: '#/components/schemas/ProfileRegion'
      description: Container of country/region information
    VssJsonCollectionWrapper:
      description: This class is used to serialized collections as a single JSON object
        on the wire, to avoid serializing JSON arrays directly to the client, which
        can be a security hole
      allOf:
      - $ref: '#/components/schemas/VssJsonCollectionWrapperBase'
    VssJsonCollectionWrapperBase:
      type: object
      properties:
        count:
          type: integer
          format: int32
      description: ""
  parameters:
    api-Version:
      name: api-version
      in: query
      description: Version of the API to use.  This should be set to '6.0' to use
        this version of the api.
      required: true
      schema:
        type: string
    api-Version-preview.1:
      name: api-version
      in: query
      description: Version of the API to use.  This should be set to '6.0-preview.1'
        to use this version of the api.
      required: true
      schema:
        type: string
    api-Version-preview.2:
      name: api-version
      in: query
      description: Version of the API to use.  This should be set to '6.0-preview.2'
        to use this version of the api.
      required: true
      schema:
        type: string
  securitySchemes:
    accessToken:
      type: http
      description: Personal access token. Use any value for the user name and the
        token as the password.
      scheme: basic
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion
          tokenUrl: https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer
          scopes:
            vso.profile: Grants the ability to read your profile, accounts, collections,
              projects, teams, and other top-level organizational artifacts.
            vso.profile_write: Grants the ability to write to your profile.
x-ms-vss-area: Profile
x-ms-vss-resource-area-id: 8ccfef3d-2b87-4e99-8ccb-66e343d2daa8
