openapi: 3.0.1
info:
  title: Profile
  description: ""
  termsOfService: https://go.microsoft.com/fwlink/?LinkId=329770
  contact:
    name: nugetvss
    email: nugetvss@microsoft.com
  license:
    name: MICROSOFT SOFTWARE LICENSE TERMS
    url: https://go.microsoft.com/fwlink/?LinkId=329770
  version: "4.1"
externalDocs:
  description: Azure DevOps REST APIs
  url: https://aka.ms/azure-devops-rest-apis
servers:
- url: https://app.vssps.visualstudio.com/
security:
- accessToken: []
tags:
- name: Profiles
paths:
  /_apis/profile/profiles/{id}:
    get:
      tags:
      - Profiles
      description: Get my profile.
      operationId: Get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: details
        in: query
        schema:
          type: boolean
      - name: withAttributes
        in: query
        schema:
          type: boolean
      - name: partition
        in: query
        schema:
          type: string
      - name: coreAttributes
        in: query
        schema:
          type: string
      - name: forceRefresh
        in: query
        schema:
          type: boolean
      - name: api-version
        in: query
        description: Version of the API to use.  This should be set to '4.1' to use
          this version of the api.
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      security:
      - oauth2:
        - vso.profile
      x-ms-docs-override-version: "4.1"
      x-ms-vss-resource: profiles
      x-ms-vss-method: GetProfile
      x-ms-examples:
        ?
        : $ref: ./httpExamples/Profiles/GET__profile_profiles_me.json
components:
  schemas:
    AttributeDescriptor:
      type: object
      properties:
        attributeName:
          type: string
        containerName:
          type: string
      description: ""
    AttributesContainer:
      type: object
      properties:
        attributes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ProfileAttribute'
        containerName:
          type: string
        revision:
          type: integer
          format: int32
      description: ""
    Avatar:
      type: object
      properties:
        isAutoGenerated:
          type: boolean
        size:
          type: string
          enum:
          - small
          - medium
          - large
          x-ms-enum:
            name: AvatarSize
            values:
            - value: small
              description: ""
            - value: medium
              description: ""
            - value: large
              description: ""
        timeStamp:
          type: string
          format: date-time
        value:
          type: array
          items:
            pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
            type: string
            format: byte
      description: ""
    CoreProfileAttribute:
      description: ""
      allOf:
      - $ref: '#/components/schemas/ProfileAttributeBase'
    CreateProfileContext:
      type: object
      properties:
        cIData:
          type: object
          additionalProperties:
            type: object
            properties: {}
        contactWithOffers:
          type: boolean
        countryName:
          type: string
        displayName:
          type: string
        emailAddress:
          type: string
        hasAccount:
          type: boolean
        language:
          type: string
        phoneNumber:
          type: string
        profileState:
          type: string
          enum:
          - custom
          - customReadOnly
          - readOnly
          x-ms-enum:
            name: ProfileState
            values:
            - value: custom
              description: ""
            - value: customReadOnly
              description: ""
            - value: readOnly
              description: ""
      description: ""
    GeoRegion:
      type: object
      properties:
        regionCode:
          type: string
      description: ""
    JObject:
      type: object
      properties:
        item:
          type: string
          format: JToken
        type:
          type: string
          format: JTokenType
      description: ""
    Profile:
      type: object
      properties:
        applicationContainer:
          $ref: '#/components/schemas/AttributesContainer'
        coreAttributes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CoreProfileAttribute'
        coreRevision:
          type: integer
          format: int32
        id:
          type: string
          format: uuid
        profileState:
          type: string
          enum:
          - custom
          - customReadOnly
          - readOnly
          x-ms-enum:
            name: ProfileState
            values:
            - value: custom
              description: ""
            - value: customReadOnly
              description: ""
            - value: readOnly
              description: ""
        revision:
          type: integer
          format: int32
        timeStamp:
          type: string
          format: date-time
      description: ""
    ProfileAttribute:
      description: ""
      allOf:
      - $ref: '#/components/schemas/ProfileAttributeBase'
    ProfileAttributeBase:
      type: object
      properties:
        descriptor:
          $ref: '#/components/schemas/AttributeDescriptor'
        revision:
          type: integer
          format: int32
        timeStamp:
          type: string
          format: date-time
        value:
          type: string
          format: T
      description: ""
    ProfileRegion:
      type: object
      properties:
        code:
          type: string
          description: The two-letter code defined in ISO 3166 for the country/region.
        name:
          type: string
          description: Localized country/region name
      description: Country/region information
    ProfileRegions:
      type: object
      properties:
        noticeContactConsentRequirementRegions:
          type: array
          description: List of country/region code with contact consent requirement
            type of notice
          items:
            type: string
        optOutContactConsentRequirementRegions:
          type: array
          description: List of country/region code with contact consent requirement
            type of opt-out
          items:
            type: string
        regions:
          type: array
          description: List of country/regions
          items:
            $ref: '#/components/schemas/ProfileRegion'
      description: Container of country/region information
    RemoteProfile:
      type: object
      properties:
        avatar:
          type: array
          items:
            pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
            type: string
            format: byte
        countryCode:
          type: string
        displayName:
          type: string
        emailAddress:
          type: string
          description: Primary contact email from from MSA/AAD
      description: ""
    VssJsonCollectionWrapper:
      description: This class is used to serialized collections as a single JSON object
        on the wire, to avoid serializing JSON arrays directly to the client, which
        can be a security hole
      allOf:
      - $ref: '#/components/schemas/VssJsonCollectionWrapperBase'
    VssJsonCollectionWrapperBase:
      type: object
      properties:
        count:
          type: integer
          format: int32
      description: ""
  parameters:
    api-Version:
      name: api-version
      in: query
      description: Version of the API to use.  This should be set to '4.1' to use
        this version of the api.
      required: true
      schema:
        type: string
    api-Version-preview.1:
      name: api-version
      in: query
      description: Version of the API to use.  This should be set to '4.1-preview.1'
        to use this version of the api.
      required: true
      schema:
        type: string
    api-Version-preview.2:
      name: api-version
      in: query
      description: Version of the API to use.  This should be set to '4.1-preview.2'
        to use this version of the api.
      required: true
      schema:
        type: string
  securitySchemes:
    accessToken:
      type: http
      description: Personal access token. Use any value for the user name and the
        token as the password.
      scheme: basic
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.vssps.visualstudio.com/oauth2/authorize&response_type=Assertion
          tokenUrl: https://app.vssps.visualstudio.com/oauth2/token?client_assertion_type=urn:ietf:params:oauth:client-assertion-type:jwt-bearer&grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer
          scopes:
            vso.profile: Grants the ability to read your profile, accounts, collections,
              projects, teams, and other top-level organizational artifacts.
            vso.profile_write: Grants the ability to write to your profile.
x-ms-vss-area: Profile
